@use 'reset';
@use 'vars';
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}
.cursor{
  width: 40px;
  height: 40px;
  position: absolute;
  pointer-events: none;
}
.cursor::before {
  content: url('../snowflake-icon.png');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
body {
  min-width: 320px;
  width:99vw;
  font-family: sans-serif;
  background: vars.$midnight;
  color: vars.$cream;
  overflow-x: hidden;
}
.main-component{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  min-height:55vh;
  @media (min-width:600px){
    margin:4rem auto;
    min-height:50vh;
  }
  @media (min-width:1000px){
    margin:5rem auto;
    min-height:45vh;
  }
}
.formations, .experience{
  &-title{
    font-weight: bold;
    text-decoration: underline;
    @media (min-width:600px){
      font-size:1.3rem
    }
    @media (min-width:1000px){
      font-size:1.8rem
    }
  }
  &-subtitle{
    text-align: center;
    margin:0.5rem auto;
    font-size: 0.85rem;
    font-style: italic;
    @media (min-width:600px){
      font-size:1.1rem;
      margin:0.8rem auto;
    }
    @media (min-width:1000px){
      font-size:1.3rem;
      margin:0.9rem auto;
    }
  }
  &-description{
    margin-bottom: 2rem;
    font-size:0.75rem;
    @media (min-width:600px){
      font-size:1rem;
      margin:0.8rem auto;
    }
    @media (min-width:1000px){
      font-size:1.1rem;
      margin:1rem auto;
    }
  }
}
