.experiences{
    margin:auto;
    margin-top:5rem;
    min-height: 50vh;
}
.experience{
    line-height: 110%;
    margin-bottom:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-logo{
        width:125px;
        padding-bottom:1rem;
    }
    &-time{
        margin-bottom:1rem
    }
    &-title{
        font-weight: bold;
        margin-bottom:1.2rem;
        @media (min-width:600px){
            font-size:1.3rem;
            margin-bottom:1.7rem;
        }
        @media (min-width:1000px){
            font-size:1.8rem;
            margin-bottom:2.5rem;
        }
    }
    &-subtitle{
        text-align: center;
        margin:0.5rem auto;
        font-size: 0.85rem;
        font-style: italic;
        @media (min-width:600px){
        font-size:1.1rem;
        margin:0.8rem auto;
        }
        @media (min-width:1000px){
        font-size:1.3rem;
        margin:0.9rem auto;
        }
    }
    &-list{
        margin-bottom: 2rem;
        font-size:0.75rem;
        @media (min-width:600px){
        font-size:1rem;
        margin:0.8rem auto;
        }
        @media (min-width:1000px){
        line-height: 150%;
        font-size:1.2rem;
        margin:1rem auto;
        }
    }
    &-description{
        font-size:0.75rem;
    }
}








// CSS du carrousel
.react-3d-carousel .slider-container .slider-right div {
    border: 0px  !important;
}
.react-3d-carousel .slider-container .slider-left div {
    border: 0px  !important;
}
.react-3d-carousel .slider-container {
    left: 45% !important;
    top: 0% !important;
    width: 100% !important;
    margin: 0px auto 0px -45% !important;
}
.react-3d-carousel .slider-container .slider-content .slider-single.proactive {
    opacity:0
}
.react-3d-carousel .slider-container .slider-content .slider-single.preactive {
    opacity:0
}
