.notFound{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:column;
  height:60vh;
  &-fixContent{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    @media (min-width:700px){
      font-size: 4rem;
    }
  }
  &-randomContent{
    font-size: 1.5rem;
    text-align:center;
    line-height:125%;
    @media (min-width:700px){
      font-size: 2.5rem;
    }
  }
}
