.skills{
    display:flex;
    flex-direction: column;
    margin:2rem 0;
    &-pro{
        margin-bottom:2rem;
        &-front{
            margin: 0.5rem auto 0.5rem auto;
        }  
    }
    &-perso{
        margin-bottom:2rem;
    }
    &-title{
        margin-bottom:0.5rem;
        font-size:1.5rem;
        font-weight:bold;
       // text-decoration: underline;
    }
    &-subtitle{
        margin-bottom:0.5rem;
        font-size:1.2rem;
        text-decoration: underline;
    }
    &-list-front li, &-list-back li, &-list-softskills li, &-list-languages li{
        margin-bottom: 0.3rem;
    }
}

