.home{
    &-welcome{
        font-size:1.4rem;
        font-weight: bold;
        @media (min-width:600px) {
            font-size:1.8rem;
        }
        @media (min-width:1000px) {
            font-size:2rem;
        }
        
    }
    &-border-picture{
        margin:1rem auto;
        border: solid 3px rgba(1, 201, 201, 0.959);
        border-radius: 0 50% 50% 50%;
        background: url('./photo.jpg') no-repeat center center ;
        width:200px;
        height:200px;
        @media (min-width:600px) {
            margin:3rem auto;
        }
    }
}
.b{
    font-size:2rem;
    font-family: 'Festive', cursive;
}