.home{
    &-welcome{
        font-size:1.5rem;
        font-weight: bold;
    }
    &-border-picture{
        margin:1rem auto;
        border: solid 3px rgba(1, 201, 201, 0.959);
        border-radius: 0 50% 50% 50%;
        background: url('./photo.jpg') no-repeat center center ;
        width:200px;
        height:200px;
        /*
        &:hover{
            transform: scale(250%);
            transition-duration:2s
        }
        */
    }
}
.b{
    font-size:2rem;
    font-family: 'Festive', cursive;
}